<h1>Lists#show</h1>
<%= @list.name %>
<%# Add a bookmark %>


<div class="container">
<% @bookmarks.each do |bookmark| %>
<div class="card">
<div>
  <%= bookmark.movie.title %>
  <%= image_tag "https://image.tmdb.org/t/p/original#{bookmark.movie.poster_url}", style: 'width:100px;margin:10px;' %>
</div>
  <%= bookmark.movie.overview %>
</div>
<% end %>
</div>

<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :movie, collection: @movies %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
